/.idea
/.vscode
/.vs
*.db
*.db-shm
*.db-wal
*.pubxml
obj
bin
PublishProfiles
appsettings.development.json
appsettings.production.json
*.exe
*.user
*.csproj.user
CompanyEmployees/internal_logs/
install.bat
uninstall.bat